<h2>Crear Nuevo Usuario</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<div class="form-container">
    <form (ngSubmit)="crearUsuario()" #usuarioForm="ngForm">
        <div class="form-group">
            <label>ID Usuario:</label>
            <div class="input-group">
                <i class="fas fa-user"></i>
                <input [(ngModel)]="nuevoUsuario.id_usuario" name="id_usuario" placeholder="ID Usuario" required>
            </div>
        </div>

        <div class="form-group">
            <label>Nombre:</label>
            <div class="input-group">
                <i class="fas fa-user-circle"></i>
                <input [(ngModel)]="nuevoUsuario.nombre" name="nombre" placeholder="Nombre" required>
            </div>
        </div>

        <div class="form-group">
            <label>Apellido:</label>
            <div class="input-group">
                <i class="fas fa-user-circle"></i>
                <input [(ngModel)]="nuevoUsuario.apellido" name="apellido" placeholder="Apellido" required>
            </div>
        </div>

        <div class="form-group">
            <label>Email:</label>
            <div class="input-group">
                <i class="fas fa-envelope"></i>
                <input [(ngModel)]="nuevoUsuario.email" name="email" placeholder="Email" required>
            </div>
        </div>

        <div class="form-group">
            <label>Dirección:</label>
            <div class="input-group">
                <i class="fas fa-home"></i>
                <input [(ngModel)]="nuevoUsuario.direccion" name="direccion" placeholder="Dirección" required>
            </div>
        </div>

        <button type="submit">Crear Usuario</button>
    </form>
</div>
